geoboard_server/server_output/decrypted_heavy_100_clean.pgm
geoboard_server/server_output/decrypted_heavy_5000_clean.pgm
geoboard_server/server_output/decrypted_heavy_10000_clean.pgm
geoboard_server/server_output/decrypted_heavy_10000.pgm
geoboard_server/server_output/decrypted_heavy_25000.pgm
geoboard_server/server_output/decrypted_triangle_5000.pgm
geoboard_server/server_output/encrypted_heavy_100_clean.pgm.bin
geoboard_server/server_output/encrypted_heavy_5000_clean.pgm.bin
geoboard_server/server_output/encrypted_heavy_10000_clean.pgm.bin
geoboard_server/server_output/encrypted_heavy_10000.pgm.bin
geoboard_server/server_output/encrypted_heavy_25000.pgm.bin
geoboard_server/server_output/encrypted_triangle_5000.pgm.bin
geoboard_server/server_output/mask8x8_heavy_100_clean.pgm.txt
geoboard_server/server_output/mask8x8_heavy_5000_clean.pgm.txt
geoboard_server/server_output/mask8x8_heavy_10000_clean.pgm.txt
geoboard_server/server_output/mask8x8_heavy_10000.pgm.txt
geoboard_server/server_output/mask8x8_heavy_25000.pgm.txt
geoboard_server/server_output/mask8x8_triangle_5000.pgm.txt
geoboard_server/src/server_orchestrator.c
geoboard_server/src/server_orchestrator.o
geoboard_server/src/shape_masks.c
geoboard_server/src/worker_node.c
geoboard_server/src/worker_node.o
geoboard_server/src/worker_processing.c
geoboard_server/src/worker_processing.o
images/circle_5000.pgm
images/diamond_5000.pgm
images/pentagon_5000.pgm
images/plus_5000.pgm
images/rectangle_5000.pgm
images/square_5000.pgm
images/trapezoid_5000.pgm
images/triangle_5000.pgm
images/x_shape_5000.pgm
server_output/decrypted_heavy_5000.pgm
server_output/decrypted_heavy_10000.pgm
server_output/decrypted_heavy_25000.pgm
server_output/decrypted_heavy_32000.pgm
server_output/encrypted_heavy_5000.pgm.bin
server_output/encrypted_heavy_10000.pgm.bin
server_output/encrypted_heavy_25000.pgm.bin
server_output/encrypted_heavy_32000.pgm.bin
server_output/mask8x8_heavy_5000.pgm.txt
server_output/mask8x8_heavy_10000.pgm.txt
server_output/mask8x8_heavy_25000.pgm.txt
server_output/mask8x8_heavy_32000.pgm.txt

# GeoBoard generated files
**/server_output/
**/batch_logs/
geoboard_server/server_output/
server_output/

# Generated heavy test images
images/
geoboard_server/images/
*.bin
heavy_*.pgm
*_5000*.pgm
*_10000*.pgm
*_25000*.pgm
*_32000*.pgm
decrypted_*.pgm
encrypted_*.bin
